Attest==0.5.3
BeautifulSoup==3.2.1
Cheetah==2.4.4
DateTime==4.0
Django==1.5.1
Elixir==0.7.1
Fabric==1.4.0
Flask==0.9
Flask-Assets==0.6.2
Flask-Attest==0.1dev
Flask-Bootstrap==2.3.0-2
Flask-Exceptional==0.5.2
Flask-FlatPages==0.3
Flask-Github==0.1.3
Flask-Markdown==0.3
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.2
Frozen-Flask==0.9
GitHub-Flask==0.3.4
GitPython==0.3.2.RC1
Jinja2==2.6
Markdown==2.3.1
Moka==0.0.5
MySQL-python==1.2.4
PIL==1.1.7
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
Pillow==2.1.0
PyYAML==3.10
Pygments==1.6
SQLAlchemy==0.8.1
Scrapy==0.16.4
South==0.8.2
Sphinx==1.2b1
Twisted==12.3.0
Unidecode==0.04.12
WTForms==1.0.3
Werkzeug==0.8.3
argh==0.23.0
argparse==1.2.1
async==0.6.1
bcrypt==1.0.2
beautifulsoup4==4.1.3
biopython==1.63
blinker==1.2
boto==2.9.9
bottle==0.11.6
cffi==0.6
coverage==3.6
crawley==0.2.4
cssmin==0.1.4
cssselect==0.7.1
cyrax==2.5
d3py==0.2.3
decompyle==2.3
decorator==3.4.0
defusedxml==0.4.1
distribute==0.6.34
dj-database-url==0.2.1
dj-static==0.0.5
django-classy-tags==0.4
django-debug-toolbar==0.9.4
django-extensions==1.1.1
django-eztables==0.3.2
django-filter==0.7
django-lictor==0.0.1-alpha
django-mockups==0.4.8
django-project-templates==0.11
django-sekizai==0.7
django-simple-careers==0.0.1
django-social-auth==0.7.28
django-storages==1.1.8
django-tastypie==0.9.15
django-toolbelt==0.0.1
django-uni-form==0.9.0
django.js==0.7.6
djangorestframework==2.3.6
docutils==0.10
eventlet==0.12.1
feedgenerator==1.5
feedparser==5.1
gdata==2.0.17
gitdb==0.5.4
googlemaps==1.0.2
greenlet==0.4.0
gunicorn==0.17.4
hamlpy==0.82.2
html2text==3.200.3
html5lib==0.95
httplib2==0.8
jsmin==2.0.2
lxml==3.1beta1
markdown2==2.1.0
md2pdf==1.0
mechanize==0.2.5
mimeparse==0.1.3
nose==1.2.1
numpy==1.8.0
oauth==1.0.1
oauth2==1.5.211
pandas==0.12.0
pdfrw==0.1
pelican==3.1.1
plotly==0.4
progressbar==2.3
protobuf==2.5.0
psycopg2==2.5.1
pyOpenSSL==0.13
pyPdf==1.13
pycparser==2.09.1
pycrypto==2.5
pydot==1.0.28
pygithub3==0.5
pygraphviz==1.2
pyquery==1.2.4
pystatic==0.2.0
python-dateutil==2.1
python-openid==2.2.5
pytz==2013b
reportlab==2.7
requests==1.2.3
rethinkdb==1.11.0-1
rst2pdf==0.93.dev
selenium==2.33.0
simplejson==3.1.0
six==1.3.0
smartypants==1.6.0.3
smmap==0.8.2
ssh==1.7.13
static==0.4
stevedore==0.10
stripe==1.9.2
surlex==0.1.2
termcolor==1.1.0
tweepy==2.1
twitter==1.10.0
vboxapi==1.0
vincent==0.3.0
virtualenv==1.8.4
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
w3lib==1.2
webassets==0.6
wsgiref==0.1.2
xhtml2pdf==0.0.5
xlrd==0.9.2
xlwt==0.7.5
zope.interface==4.0.3
